.inscription {
  margin: 0;
  font-size: var(--h3-size);
}
.bnficiezDeNos {
  margin: 0;
  font-size: var(--h4-size);
}
.inscriptionBnficiezDeContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 25px;
  font-family: var(--font-montaga);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.inscriptionBanner {
  width: 474px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.email {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--font-poller-one);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--muted-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-2xl) var(--padding-lgi);
}
.email1 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.doubleEmail,
.inputformControl1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputformControl1 {
  width: 488px;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xl);
}
.doubleEmail {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.email2 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl2 {
  width: 488px;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xl);
}
.emailContainer,
.inputformControl2,
.tripleEmail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tripleEmail {
  flex: 1;
  flex-direction: column;
  gap: 41px;
}
.emailContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs);
  box-sizing: border-box;
}
.email3 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl3,
.nestedInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputformControl3 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-2xl);
}
.nestedInput {
  align-self: stretch;
  padding: 0 var(--padding-smi) 0 var(--padding-9xs);
}
.email4 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl4,
.nestedInput1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputformControl4 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-2xl);
}
.nestedInput1 {
  align-self: stretch;
  padding: 0 var(--padding-smi) 0 var(--padding-9xs);
}
.email5 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--h6);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--second-text-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl5 {
  width: 488px;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-2xl);
  max-width: 100%;
}
.email6 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--font-poller-one);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--muted-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl6 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-2xl) var(--padding-lgi);
}
.email7 {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: var(--font-poller-one);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 28px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  color: var(--muted-color);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.inputformControl7,
.inscriptionBannerParent,
.sixthEmailField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputformControl7 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-2xl) var(--padding-lgi);
}
.inscriptionBannerParent,
.sixthEmailField {
  align-self: stretch;
}
.sixthEmailField {
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.inscriptionBannerParent {
  flex-direction: column;
  gap: 36px;
}
.email8 {
  width: 218px;
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.2px;
  line-height: 28px;
  font-family: var(--font-poller-one);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.inputformControl8,
.root {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.inputformControl8 {
  cursor: pointer;
  border: 1px solid var(--color-mediumslateblue-300);
  padding: var(--padding-xl) var(--padding-2xl) var(--padding-lgi);
  background-color: var(--color-royalblue-200);
  align-self: stretch;
  border-radius: var(--br-8xs);
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.inputformControl8:hover {
  background-color: var(--color-royalblue-100);
  border: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
}
.root {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--light-text-color);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 84px var(--padding-lgi) 77px;
  box-sizing: border-box;
  gap: 61px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .doubleEmail {
    gap: var(--gap-mini);
  }
  .tripleEmail {
    gap: var(--gap-xl);
  }
  .inscriptionBannerParent {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .inscriptionBnficiezDeContainer {
    font-size: var(--h5-size);
    line-height: 20px;
  }
  .inputformControl,
  .inputformControl1,
  .inputformControl2,
  .inputformControl3,
  .inputformControl4,
  .inputformControl5,
  .inputformControl6,
  .inputformControl7,
  .inputformControl8 {
    gap: var(--gap-4xl);
  }
  .root {
    gap: var(--gap-11xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
